table, td {
    border: 1px solid black;
}

table {
    width: 300px;
}

tr {
    height: 100px;
}

td {
    width: 100px;
    text-align: center;
    font-size: 30px;
}

#gameboard, .game-info {
    display: inline-block;
    margin: 20px;
    vertical-align: text-top;
    
}

.game-info {
    width: 150px;
    align-content: center;
}

body {
    text-align: center;
}

#reset {
    height: 60px;
    width: 100px;
    border-radius: 10px;
}

input {
    width: 100px;
}

#save-names {
    margin-top: 20px;
    width: 106px;
    align-content: center;
}